* {
    background-color: green;
}

h1 {
    color: rgb(255, 153, 0);
}

.calzone{
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.sandwhich{
    color: rgb(212, 202, 112)
}

.cheeseburger{
    color: rgb(255, 255, 255)
}